<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Start:</b>
  <%= @trip.start %>
</p>

<p>
  <b>Loc:</b>
  <%= @trip.loc %>
</p>

<p>
  <b>End:</b>
  <%= @trip.end %>
</p>

<%= gmaps(:markers => {:data => @json, :options => { :raw => '{ animation: google.maps.Animation.BOUNCE }' } },
          :map_options => { :raw => '{ disableDefaultUI: true, scrollwheel: false }' }) %>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
