<!DOCTYPE html>
<html>
<head>
  <title>JitneyMongo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA47eg_92Augg7d1rwB66g9S2DaURat7o8&sensor=true&libraries=drawing ">
    </script>
</head>
<body>
	<div class="header">
		<%= render :partial => 'layouts/header'%>
	</div>
	<div class="container">
		<%= yield %>
	</div>
	<div class="footer">
		<%= render :partial => 'layouts/footer'%>
	</div>

</body>
</html>
